/* Finished.css */
.description-text {
    font-family: Georgia, serif; /* Change font family */
    font-size: 18px; /* Change font size */
    line-height: 1.6; /* Adjust line height */
  }
  .title{
    font-family: Georgia, serif; /* Change font family */; /* Change font size */
    line-height: 1.6;
  }

  /* finished.css */

/* .bg-black {
  background-color: black;
}

.min-h-screen {
  min-height: 100vh;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.bg-white {
  background-color: white;
}

.p-4 {
  padding: 1rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.font-bold {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.h-auto {
  height: auto;
} */
