/* Finished.css */
.description-text {
    font-family: Georgia, serif; /* Change font family */
    font-size: 18px; /* Change font size */
    line-height: 1.6; /* Adjust line height */
  }
  .title{
    font-family: Georgia, serif; /* Change font family */; /* Change font size */
    line-height: 1.6;
  }